.home{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    padding-top: 100px;
    .gauche{
        flex: 1;
        background-color: white;
        min-width: 390px;
        height: 500px;
        .contenu{
            width: 390px;
            margin: auto;
            text-align: center;
            padding: 20px;
            font-family: 'Ubuntu', sans-serif;
            font-size: 25px;
            p{
                padding: 20px 0;
            }
            img{
                width: 300px;
                margin: auto;
            }
        }
    }
    .droite{
        flex: 1;
        min-width: 390px;
        height: 500px;
        img{
            width: 100%;
            display: block;
            position:absolute;
            height: 500px;
            object-fit: cover;
        }
        .txt{
            position:absolute;
            color: white;
            padding: 40px;
            p{
                padding: 10px;
                font-size: 40px;
                font-family: 'Ubuntu', sans-serif;
                letter-spacing: 2px;
            }
        }
    }
}




@media screen and(max-width: 526px){
    .container{
        padding-top: 200px;
    }
}